@import url('./styles/theme.styles.scss');

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--colorPrimary);
  transition: color 0.4s ease-in-out, background-color 0.4s ease-in-out;
}

.darkTheme {
  --colorPrimary: #121212;
  --colorSecondary: #bb86fc;
  --colorText: white;
  --colorTextHover: #c4c4c4;
}

.lightTheme {
  --colorPrimary: #fff;
  --colorSecondary: #4fc9c5;
  --colorText: black;
  --colorTextHover: rgba(000, 000, 000, 0.7);
}
