@import-normalize;

* {
  font-family: 'Bebas Neue';
  font-weight: 800;
  box-sizing: border-box;
}

html {
  height: 100vh;
  width: 100vw;
}

html::-webkit-scrollbar {
  display: none;
}

#root {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
}

button {
  cursor: pointer;
  background-color: white;
  outline: none;
  border: none;
  font-family: 'Tilt Prism';
}
